<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Koffeinfrei.ExecUrl.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Koffeinfrei.ExecUrl.Settings>
            <setting name="NotificationFadePixels" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NotificationFadeType" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TimerIntervalNotificationShow" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="TimerIntervalNotificationFade" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="NotificationTimerInterval" serializeAs="String">
                <value>10800000</value>
            </setting>
            <setting name="UrlParamsFile" serializeAs="String">
                <value>UrlParams.txt</value>
            </setting>
        </Koffeinfrei.ExecUrl.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
